.container {
	width: 600px;
	height: 600px;
	margin: 2.5% auto 5% auto;
	background: rgb(255, 255, 204);
	border: .05em solid;
    border-color: black;
}

.square {
	width: 190px;
	height: 190px;
	margin: 5px;
	background: rgb(204, 229, 255);
	text-align: center;
	color: black;
	float: left;
}

.innerSquare {
	width: 170px;
	height: 170px;
	text-align: center;
	line-height: 170px;
	color: blue;
	margin: 10px;
	font-size: 75px;
}

.reset {
	margin-top: 20px;
	float: right;
}
.reset button{
	font-size: 20px;
	background-color: rgb(204, 229, 255);
}